<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Ninja</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Ninja</h1></a>
        <p>A Net Ninja Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/about/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nemo quidem
        qui doloremque asperiores reiciendis molestias explicabo at, facere enim
        unde autem aliquid placeat laborum optio, dolor repellat sequi ducimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nemo quidem
        qui doloremque asperiores reiciendis molestias explicabo at, facere enim
        unde autem aliquid placeat laborum optio, dolor repellat sequi ducimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nemo quidem
        qui doloremque asperiores reiciendis molestias explicabo at, facere enim
        unde autem aliquid placeat laborum optio, dolor repellat sequi ducimus.
      </p>
    </div>
  </body>
</html>
