<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nemo quidem
        qui doloremque asperiores reiciendis molestias explicabo at, facere enim
        unde autem aliquid placeat laborum optio, dolor repellat sequi ducimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nemo quidem
        qui doloremque asperiores reiciendis molestias explicabo at, facere enim
        unde autem aliquid placeat laborum optio, dolor repellat sequi ducimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nemo quidem
        qui doloremque asperiores reiciendis molestias explicabo at, facere enim
        unde autem aliquid placeat laborum optio, dolor repellat sequi ducimus.
      </p>
    </div>

    <!-- prettier-ignore -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
