<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
      <form>
        <label for="title">Blog title:</label>
        <input type="text" name="title" id="title" required />
        <label for="snippet">Blog snippet:</label>
        <input type="text" name="snippet" id="snippet" required />
        <label for="title">Blog title:</label>
        <textarea name="body" id="body" required></textarea>
        <button>Submit</button>
      </form>
    </div>

    <!-- prettier-ignore -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
