<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Ninja</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Ninja</h1></a>
        <p>A Net Ninja Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="create-blog content">
      <form>
        <label for="title">Blog title:</label>
        <input type="text" name="title" id="title" required />
        <label for="snippet">Blog snippet:</label>
        <input type="text" name="snippet" id="snippet" required />
        <label for="title">Blog title:</label>
        <textarea name="body" id="body" required></textarea>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
